$color-01: #FCC737;
$color-02: #F26B0F;
$color-03: #E73879;
$color-04: #7E1891;

$font-default: 'Funnel Sans', Arial, sans-serif;

$color-status-01: green;
$color-status-02: greenyellow;
$color-status-03: yellow;
$color-status-04: orange;
$color-status-05: red;

$color-text: #121111;
