@charset "UTF-8";

// Partials
@use './partials/reset';
@use './partials/fonts';
@use './partials/variables' as *;

// Components
@use './components/checkmark';
@use './components/header';
@use './components/buttons';
@use './components/inputs';

body {
   width: 100%;
   min-height: 300vh;
   padding: 50px 30px;
   font-family: $font-default;
   color: $color-text;
   display: flex;
   justify-content: center;
   align-items: center;
}
