@use '../partials/variables' as *;

@use 'sass:color';

.inpt {
   width: 100%;
   max-width: 220px;
   font-size: 0.9rem;
   font-family: $font-default;
   
   &__minimalist {
      position: relative;
      max-width: 150px;
      background-color: transparent;
      border: none;
      
      &::before {
         content: '555';
         position: absolute;
         left: 0px;
         bottom: 5px;
         width: 100px;
         height: 2px;
         background-color: green;
      }

      &::placeholder {
         color: $color-text;   
      }

      &:focus {
         outline: none;
      }
   }
}
